.name1{
    background-color:powderblue;
    text-align: center;
    border-radius: 20px;
    border: 5px solid red;
}
.name2{
    color: red;
}
.name3{
    color: green;
}
.name4{
    color: red;
}
.name5{
    color: yellow;
}
.name6{
    color: green;
}
.name8{
    background-color: yellow;
}
.name9{
background-color: red;
}
.name10{
    padding: 20px;
 border-collapse: collapse;
    width: 

}
.name11{
    background-color: green;
}
.name12{
    background-color:darkorchid;
}

.name13{
    background-color: greenyellow;
    width: 180px;
}


    